h1{
    color:red;
    border: 0.5rem dotted black;
}
h2, h3, h4, h5, h6{
    display:none;
}
body ul li{
    color:firebrick;
}
p{
    text-decoration: underline #ccc double 0.1rem;
    text-indent: 1rem;
}
p.maisculo{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 2rem;
    word-spacing: 2rem;
    color:white;
    font:italic small-caps bold 2rem monospace;
    text-shadow: 0.2rem 0.2rem 0.3rem blue, 0 0 1rem greenyellow, 0 0 2rem orangered;
}
a:link, a:active{
    text-decoration: none;
    color: darkorange;
}
a:visited{
    color: crimson;
}
a:hover{
    color:gray;
}
footer{
    clear: both;
    background: #ff6347 url("../img/Gabigol.jpg") no-repeat left bottom;
    height: 1rem;
}
div{
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline;
    z-index: 2rem;
    background-color: firebrick;
    color: white;
    border: 0.2rem solid darkred;
    padding: 0.2rem;
    font-size: 0.2rem;
}