h1{
    color:red;
    border: 0.5rem dotted black;
}
h2, h3, h4, h5, h6{
    display:none;
}
body ul li{
    color:firebrick;
}
p{
    text-decoration: underline #ccc double 0.1rem;
    text-indent: 1rem;
}
p.maisculo{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 2rem;
    word-spacing: 2rem;
    color:white;
    font:italic small-caps bold 2rem monospace;
    text-shadow: 0.2rem 0.2rem 0.3rem blue, 0 0 1rem greenyellow, 0 0 2rem orangered;
}
a:link, a:active{
    text-decoration: none;
    color: darkorange;
}
a:visited{
    color: crimson;
}
a:hover{
    color:gray;
}
footer{
    clear: both;
    background: #ff6347 url("../img/Gabigol.jpg") no-repeat left bottom;
    height: 1rem;
}
div{
    position: fixed;
    right: 0;
    bottom: 0;
    display: inline;
    z-index: 2rem;
    background-color: firebrick;
    color: white;
    border: 0.2rem solid darkred;
    padding: 0.2rem;
    font-size: 0.2rem;
}


h1#page1{
    color:aqua;
    border: 0.3rem dashed yellow;
}
img{
    width: 20rem;
}
ul{
    list-style-type: square;
}


h1.page2{
    color:blue;
    border: 1rem groove blue;
    border-radius: 0.7rem;
}
ol{
    list-style-type: upper-roman;
}
section img{
    float: left
}


main.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem
}


main.flexbox{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main.flexbox article{
    background-color: red;
    margin: 1rem;
    padding: 2rem;
}